body{
			background-image:url("ChatGPT Image Jul 26, 2026 at 11_15_23 AM.png");
			color:lightgreen; 
		}
		#mymenu{
			margin-top:-15px;
			background-color:rgba(0,0,0,0.5);
			color:white;
			text-align: right;
		}
		#mymenu ul li{
			padding:20px;
			display:inline-block;
		}
		#mymenu ul li:hover{
			background:#9bff9a;
		}
		.card{
			margin-left:400px;
			width:400px;
			height: 300px;
			background-color:rgba(0, 0, 0, 0.2);
			color:white;
			box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
			padding: 70px;
			font-size: 20px;
			text-align:center;

		}
		.t1{
			border-radius:20px;
			text-align:center;
		}
		.b1{
			background:linear-gradient(rgba(0,0,0,0.2));
			color:white;
			padding:10px;
			border-radius: 40px 30px 40px 30px;
			position:center;
		}
		.b1:hover{
			background: linear-gradient(rgba(0.2,0,0,0));
			border-radius: 30px 40px 30px 40px;
		}