<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="mymenu">
		<ul>
			<li><a th:href="@{/login}">Home</a></li>
			<li><a th:href="@{/login}">Login</a></li>
			<li><a th:href="@{/register}">Register</a></li>
			<li>About us</li>
			<li>Contact us</li>
		</ul>
	</div>

<div class="card">

<h1>Food Waste Platform</h1>
<h2>Login</h2>

<p th:if="${error}" th:text="${error}" style="color:#ef5350;"></p>
<p th:if="${success}" th:text="${success}" style="color:#66bb6a;"></p>

<form th:action="@{/login}" method="post">

<label>Email</label>
<input type="email" name="email" placeholder="Enter Email" required>

<label>Password</label>
<input type="password" name="password" placeholder="Enter Password" required>

<p style="text-align:right; margin-top:8px;">
<a th:href="@{/forgot-password}">Forgot Password?</a>
</p>

<button type="submit" class="b1">Login</button>

</form>

<p style="margin-top:20px;">
Don't have an account?
<a th:href="@{/register}">Register</a>
</p>

</div>

</body>
</html>