<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="card">

<h1>Food Waste Platform</h1>
<h2>Login</h2>

<form th:action="@{/login}" method="post">
<table>
<tr>
<th>Email</th>
<td><input type="email" name="email" placeholder="Enter Email" required></td>
</tr>
<tr>
<th>Password</th>
<td><input type="password" name="password" placeholder="Enter Password" required></td>
</tr>
<tr>
<th>
<button type="submit">Login</button>
</th>
</tr>

</table>
</form>

<p>
Don't have an account?
<a th:href="@{/register}">Register</a>
</p>

</div>

</body>
</html>