<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div id="mymenu">
		<ul>
			<li><a th:href="@{/login}">Home</a></li>
			<li><a th:href="@{/login}">Login</a></li>
			<li><a th:href="@{/register}">Register</a></li>
			<li>About us</li>
			<li>Contact us</li>
		</ul>
	</div>
<div class="card">

<h1>Food Waste Platform</h1>
<h2>Create Account</h2>
<p th:if="${error}" style="color:red;">
    <span th:text="${error}"></span>
</p>
<form th:action="@{/register}" th:object="${user}" method="post">
<table  class="t1">
<tr>
<th>Full Name</th>
<td>
<input type="text" th:field="*{name}" placeholder="Enter Full Name" required></td>
</tr>
<tr>
<th>Email</th>
<td>
<input type="email" th:field="*{email}" placeholder="Enter Email" required>
</td>
</tr>
<tr>
<th>Password</th>
<td>
<input type="password" th:field="*{password}" placeholder="Enter Password" required>
</td>
</tr>
<tr>
<th>Role</th>
<td>
<select th:field="*{role}" required>
<option value="">Select Role</option>
<option value="Restaurant">Restaurant</option>
<option value="NGO">NGO</option>
</select>
</td>
</tr>
<tr>

<th>
<button type="submit" class="b1">Register</button>
</th>
</tr>
</table>

</form>

<p>
Already have an account?
<a th:href="@{/login}">Login</a>
</p>

</div>


</body>
</html>