<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

<div class="card">

<h1>Food Waste Platform</h1>
<h2>Create Account</h2>

<form th:action="@{/register}" th:object="${user}" method="post">

<label>Full Name</label>
<input type="text" th:field="*{name}" placeholder="Enter Full Name" required>

<label>Email</label>
<input type="email" th:field="*{email}" placeholder="Enter Email" required>

<label>Password</label>
<input type="password" th:field="*{password}" placeholder="Enter Password" required>

<label>Role</label>

<select th:field="*{role}" required>
<option value="">Select Role</option>
<option value="Restaurant">Restaurant</option>
<option value="NGO">NGO</option>
</select>

<button type="submit">Register</button>

</form>

<p>
Already have an account?
<a th:href="@{/login}">Login</a>
</p>

</div>

</div>

</body>
</html>